<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Nuevo Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>Registro de Nuevo Usuario</h1>
<form>
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" name="nombres">

    <label for="apellidoPaterno">Apellido Paterno:</label>
    <input type="text" id="apellidoPaterno" name="apellidoPaterno">

    <label for="apellidoMaterno">Apellido Materno:</label>
    <input type="text" id="apellidoMaterno" name="apellidoMaterno">

    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="repeatPassword">Repetir Password:</label>
    <input type="password" id="repeatPassword" name="repeatPassword">

    <button type="submit">Registrar</button>
</form>
</body>
</html>